/* Header */
.header img{
  text-align-last: left;
  width: 40px;
}

.container{
  max-width: 100%;
}

.header-right {
  position: absolute;
  right: 10px;
  top: 15px;
}

.home-btn{
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  width: 100px;
  height: 48px;
  color: rgba(0, 0, 0, 0.6);
  background-color: transparent;
  border-color: transparent;
}

.favorite-btn{
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  width: 100px;
  height: 48px;
  color: rgba(0, 0, 0, 0.6);
  background-color: transparent;
  border-color: transparent;
}

/*Hover for buttons*/
.header-right .home-btn:hover{
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  width: 100px;
  height: 48px;
  color: #12b1fe;
  border-bottom: 1px solid;
  background-color: transparent;
}

.header-right .favorite-btn:hover{
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  width: 100px;
  height: 48px;
  color: #12b1fe;
  border-bottom: 1px solid;
  background-color: transparent;
}

/*Ng class for clicked button*/
.lightBlue{
  color: #12b1fe;
}
