/*input*/
.location-input-form{
  width: 100%;
}

.location-input-full-width {
  width: 100%;
}

.container{
  margin-top: 30px;
}

.margin-auto{
  margin: auto;
}

.error-div{
  position: relative;
  top: 25px;
}

.error{
  color: red;
  font-family: Poppins;
  font-size: 10px;
  font-weight: 400;
}

/*weather*/
/*weather header row*/
.weather-container{
  border-radius: 5px;
  border: solid 1px #a2a6ab;
}

.city-span{
  font-family: Poppins;
  font-size: 26px;
  font-weight: 600;
}

.temperature-span{
  font-family: Poppins;
  font-size: 34px;
  font-weight: 600;
}

.temperature-celsius{
  margin: 10px;
  margin-bottom: 20px;
}

.transparent-button{
  background-color: transparent;
  border-color: transparent;
}

.weather-container{
  background-image: url("../../../assets/pero-kalimero-9BJRGlqoIUk-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;

}

.weather-body-row{
  padding: 100px;
}


