<!--input container-->
<div class="container">
  <div class="row input-row">
    <div class="col-md-6 margin-auto">
      <form class="location-input-form">
        <mat-form-field class="location-input-full-width">
          <input
            type="text"
            placeholder="Location"
            aria-label="Number"
            matInput
            [formControl]="myControl"
            [matAutocomplete]="auto"
            (keyup)="getAutoComplete()"
            (keyup.enter)="getFiveDaysOfDailyForecasts()">
          <div class="error-div" *ngIf="wrongCity">
            <span class="error">Please insert a valid city from the list</span>
          </div>
          <mat-autocomplete #auto="matAutocomplete">
            <div *ngIf="autoCompleteApiBack">
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option" >
                {{option}}
              </mat-option>
            </div>
          </mat-autocomplete>
        </mat-form-field>
      </form>
    </div>
  </div>
</div>

<!--weather info container-->
<div class="container weather-container">
  <div class="row weather-header-row">
    <div class="col-5 weather-div margin-auto">
      <span class="city-span">{{city}}</span>
      <br>
      <span class="temperature-span">{{temperature}}</span>
      <img src="../../../assets/celsius-degrees-symbol-of-temperature.svg" class="temperature-celsius">
    </div>
    <div class="col-5 weather-div margin-auto">
      <button class="transparent-button float-right" (click)="setFavorite()">
        <img src="../../../assets/empty-heart.png" *ngIf="!isFavorite">
        <img src="../../../assets/colored-heart.png" *ngIf="isFavorite">
      </button>
    </div>
  </div>
  <div class="row weather-body-row">
    <div class="col-md-10 weather-div margin-auto">
    </div>
  </div>
  <div class="row weather-bottom-row">
    <div class="col-md-2 weather-div margin-auto">
      <span class="city-span">{{day[0]}}</span>
      <br>
      <span class="temperature-span">{{weekTemperature[0]}}</span>
      <img src="../../../assets/celsius-degrees-symbol-of-temperature.svg" class="temperature-celsius">
    </div>
    <div class="col-md-2 weather-div margin-auto">
      <span class="city-span">{{day[1]}}</span>
      <br>
      <span class="temperature-span">{{weekTemperature[1]}}</span>
      <img src="../../../assets/celsius-degrees-symbol-of-temperature.svg" class="temperature-celsius">
    </div>
    <div class="col-md-2 weather-div margin-auto">
      <span class="city-span">{{day[2]}}</span>
      <br>
      <span class="temperature-span">{{weekTemperature[2]}}</span>
      <img src="../../../assets/celsius-degrees-symbol-of-temperature.svg" class="temperature-celsius">
    </div>
    <div class="col-md-2 weather-div margin-auto">
      <span class="city-span">{{day[3]}}</span>
      <br>
      <span class="temperature-span">{{weekTemperature[3]}}</span>
      <img src="../../../assets/celsius-degrees-symbol-of-temperature.svg" class="temperature-celsius">
    </div>
    <div class="col-md-2 weather-div margin-auto">
      <span class="city-span">{{day[4]}}</span>
      <br>
      <span class="temperature-span">{{weekTemperature[4]}}</span>
      <img src="../../../assets/celsius-degrees-symbol-of-temperature.svg" class="temperature-celsius">
    </div>
  </div>
</div>
